
body{
	font-family: sans-serif;
	font-size: 1.4em;
}


/* id rules
--------------------*/
#title{
    width: 950px;
    height: auto;
	display: block;
}


#nameBlock{
    position:absolute;
    top: 180px;
    left: 200px;
	font-size: 0.85em;
    font-weight: normal;
}
